* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh !important;
}

.bg-dark {
    /* background-color: black !important; */
}




.date-time-box{
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    
    padding-top: 100px;
    border: 2px solid black;
}




.main-div {

}

.clock-outer-circle {
    width: 350px;
    height: 350px;
    /* border: 2px solid #242424; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.dial-12,
.dial-3,
.dial-6,
.dial-9 {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 900;

    /* color: #fff; */
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.dial-12 {
    top: 0;
    transform: rotateZ(90deg);
}

.dial-3 {
    right: 0;
}

.dial-6 {
    bottom: 0;
    transform: rotateZ(90deg);
}

.dial-9 {
    left: 0;
}

.clock-dial {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-of-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* display: none; */

}

.hour {
    position: absolute;
    margin: 9px 0 0 4.4px;
    width: 12px;
    height: 70px;
    border: 1px solid #242424;
    transform-origin: top center;
    /* z-index: -3; */
    /* rotate: 0deg; */
    /* display: none; */
    border-radius: 0 0 100% 100%;
}

.minute {
    position: absolute;
    margin: 9px 0 0 6px;
    width: 8px;
    height: 110px;
    transform-origin: top center;
    border-radius: 0 0 20px 20px;
    /* z-index: -2; */
    rotate: 30deg;
    /* display: none; */
}

.second {
    margin: 9px 0 0 6px;
    position: absolute;
    width: 7px;
    height: 120px;
    transform-origin: top center;
    border-radius: 0 0 900% 900%;
    /* z-index: -1; */
    rotate: 180deg;
    /* display: none; */
}