* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh !important;
}

.text-change-theme{
    font-family: "Bungee", sans-serif;
}


.date-time-box{
    width: 300px;
    height: 350px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding-top: 100px;
    /* border: 2px solid black; */
}

.digital-time{
    font-size: 2rem;
    font-family: "Bungee", sans-serif;
}
.digital-date{
    font-size: 1.3rem;
    font-family: "Single Day", cursive;
}
.digital-date span{
    background-color: #000;
    color: #fff;
    font-size: .9rem;
    height: 10px !important;
    width: 10px !important;
    padding: 3px 4px;
    border-radius: 50%;
    font-weight: 400;
}


.whole-wraper{
    width: fit-content;
}
.clock-outer-circle {
    width: 350px;
    height: 350px;
    /* border: 2px solid #242424; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.dial-12,
.dial-3,
.dial-6,
.dial-9 {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 900;

    /* color: #fff; */
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.dial-12 {
    top: 0;
    transform: rotateZ(90deg);
}

.dial-3 {
    right: 0;
}

.dial-6 {
    bottom: 0;
    transform: rotateZ(90deg);
}

.dial-9 {
    left: 0;
}

.clock-dial {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-of-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* display: none; */

}

.hour {
    position: absolute;
    top: 49.8%;
    left: 49.5%;
    width: 6px;
    height: 70px;
    border: 1px solid #242424;
    transform-origin: top center;
    rotate: 180deg;
    z-index: -3;
}
.minute {
    position: absolute;
    top: 50%;
    left: 49.5%;
    width: 4px;
    height: 120px;
    transform-origin: top center;
    border-radius: 0 0 20px 20px;
    z-index: -2;
    rotate: 180deg;
}

.second {
    top: 50%;
    left: 49.5%;
    position: absolute;
    width: 4px;
    height: 120px;
    transform-origin: top center;
    border-radius: 0 0 900% 900%;
    z-index: -1;
    rotate: 180deg;
}

.neon-bg{
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #0ff,
        0 0 15px #0ff;
}

@media screen and (max-width: 700px) {

}

/* for switch  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1a1a;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(152, 152, 152);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  /* neon custom */
  